@import '../../../assets/scss/variables.scss';

.header {
  display: flex;
  padding: 5px;
  background-color: $primary-color;
  color: white;
  height: 48px;

  .logo {
    display: flex;
    flex-grow: 1;
    font-size: 1.8em;
    font-weight: 500;
    margin: auto 15px;
    text-decoration: none;
    color: white;
  }

  .navigation {
    display: flex;
  }

  .links {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: auto 5px;
  }
}
