<div class="root">
  <div class="title">Built With</div>
  <div class="imagesGrid">
    <div class="imageContainer">
      <img class="image angularLogo" src="../../../assets/images/angular.svg" />
    </div>
    <div class="imageContainer">
      <img class="image" src="../../../assets/images/router.svg" />
    </div>
    <div class="imageContainer">
      <img class="image" src="../../../assets/images/http.svg" />
    </div>
    <div class="imageContainer">
      <img class="image" src="../../../assets/images/cli.svg" />
    </div>
    <div class="imageContainer">
      <img class="image" src="../../../assets/images/augury.svg" />
    </div>
    <div class="imageContainer">
      <img class="image" src="../../../assets/images/Rx_Logo-512-512.png" />
    </div>
  </div>
</div>
